/* Colour palette: https://colorhunt.co/palette/118591 */


/* basic set up */
body{
	background-color: #f9f9f9;
	height: 100%;
	text-align: center;
	font-family: 'Sunflower', sans-serif;
	color: #062743;
}
#container{
	height: 80vh; /* leave space for instructions and start button */
	display: flex;
	justify-content: center;
	align-items: center;
	height: 300px; /* biggest dot when 3 times the size */
	margin-top: 10px;
}
.dot{
	border-radius: 50%;
	border: 1px solid #ff7a8a;
	background-color: #ff7a8a;
	position: relative;
}
.transition{
	transition-property: width, height;
	transition-timing-function: linear;	
}

.helperDot{
	border-radius: 50%;
	border: 2px solid white;
	position: absolute;
}

/* hide reset button until transition has finished */
#reset{
	visibility: hidden;
	cursor: pointer;
	background-color: #5dade2;
	border: #4e9af1;
	color: #ffffff;
	padding: 0.5em 1.5em;
	border-radius: 2em;
	font-size: 0.9em;
}
#reset:hover{
	background-color: #3498db;
}
#reset:active{
	background-color: #3498db;
}