/* Colour palette: https://colorhunt.co/palette/118591 */

/* variables */
$lightGrey: #f9f9f9;
$pink: #ff7a8a;
$lightBlue: lighten(#113a5d, 20%); //According to specs should use scale-color instead, but gulp-sass doesn't like it
$darkBlue: #062743;

/* basic set up */
* {
  padding: 0;
  margin: 0;
}
body {
	background-color: $lightGrey;
	height: 100%;
	text-align: center;
	font-family: 'Sunflower', sans-serif;
	font-size: 1em;
	color: $darkBlue;
}

#instructions {
	grid-area: instructions;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 1.3rem;
}

#options {
	grid-area: options;
}
#shapes {
	margin: 2rem 0;
	padding: 2px;
	box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
}

#container {
	grid-area: container;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 300px; /* biggest dot when 3 times the size */
	min-width: 300px; /* biggest dot when 3 times the size */
	margin-top: 10px;
	margin-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
}
.shape {
	position: relative;
}
#circle {
	border-radius: 50%;
	background-color: $pink;
}
#square {
	border: none;
	border-radius: 0;
	background-color: $pink;
}
#triangle {
	width: 0;
	height: 0;
	border: none;
	border-radius: 0;
	border-left-style: solid;
  border-left-color: transparent;
	border-right-style: solid;
  border-right-color: transparent;
	border-bottom-style: solid;
  border-bottom-color: $pink;
	background-color: none;
}
.helper {
	display: none;
	border-style: solid;
	border-color: $lightGrey;
	position: absolute;
}
#helpercircle {
	border: 2px solid $lightGrey;
	border-radius: 50%;
}
#helpersquare {
	border: 2px solid $lightGrey;
	border-radius: 0;
}
#helpertriangle {
	width: 0;
	height: 0;
	border: none;
	border-radius: 0;
	border-left-style: solid;
  border-left-color: transparent;
	border-right-style: solid;
  border-right-color: transparent;
	border-bottom-style: solid;
  border-bottom-color: $lightGrey;
}
#helpertriangle2 {
	width: 0;
	height: 0;
	border: none;
	border-radius: 0;
	border-left-style: solid;
  border-left-color: transparent;
	border-right-style: solid;
  border-right-color: transparent;
	border-bottom-style: solid;
  border-bottom-color: $pink;
}

#result {
	grid-area: result;
	padding-top: 10px;
	padding-bottom: 10px;
	font-weight: bold;
}

/* hide reset button until transition has finished */
#resetbutton {
	grid-area: reset;
	padding-top: 10px;
	padding-bottom: 10px;
}
#reset {
	visibility: hidden;
	cursor: pointer;
	background-color: $lightBlue;
	border: $lightBlue;
	color: $lightGrey;
	padding: 0.5em 1.5em;
	box-shadow: 0 5px 12px -5px rgba(0,0,0,.5);
	border-radius: .2em;
	font-size: 0.9em;
	position: relative;
}
#reset:hover {
	background-color: darken($lightBlue, 10%);
}
#reset:active {
	background-color: darken($lightBlue, 10%);
	top: 2px;
}

#highscores {
	grid-area: highscores;
	padding-top: 10px;
	padding-bottom: 10px;
	color: $lightBlue;
	display: flex;
	flex-direction: column;;
	align-items: center;
	text-align: left;
}
ion-icon {
	position: relative;
	top: .2rem;
	padding-right: .2rem
}

@media (min-width: 600px) {
	body {
		display: grid;
		grid-template-areas:
											"instructions instructions"
											"options container"
											"highscores container"
											"result result"
											"reset reset";
		grid-template-columns: 1fr, 2fr;
	}
	#highscores {
		align-self: center;
	}
	#options {
		align-self: center;
	}
}

@media (min-width: 900px) {
	body {
		grid-template-areas:
											". instructions ."
											"options container highscores"
											". result ."
											". reset .";
		grid-template-columns: 1fr, 2fr, 1fr;
	}
}